.header-icon-text i[class^='header-icon-']{
    display: inline-block;
    width: 40px;
    height: 40px;
    background-image: url(~@/assets/img/header_app7.png) ;
    /* background-repeat: no-repeat; */
    background-size: 160px 200px
}
.header-icon-deadbeat{
    background-position: -80px -160px;
}
.header-icon-monitor{
    background-position: 160px 200px;
}
.header-icon-map{
    background-position: -40px 0px;
}
.header-icon-recruit{
    background-position: -80px -160px;
}
.header-icon-muhouperson{
    background-position: -80px -160px;
}
.header-icon-industry{
    background-position: -80px -160px;
}
.header-icon-company{
    background-position: -80px -160px;
}
.header-icon-report{
    background-position: -80px -160px;
}

.nav-container i[class^='bimg-']{
    display: inline-block;
    width: 50px;
    height: 50px;
    background-image: url(~@/assets/img/index_nav.png) ;
    background-size: 200px 100px;
}
.bimg-overseas {
    background-position: 200px 100px;
}
.bimg-brands {
    background-position: -50px 0px;
}
.bimg-shixins {
    background-position: -100px 0px;
}
.bimg-elib {
    background-position: -150px 0px;
}
.bimg-certpay {
    background-position: 0px -50px;
}
.bimg-monitor {
    background-position: -49px -50px;
}
.bimg-batchsearch {
    background-position: -100px -50px;
}
.bimg-map {
    background-position: -150px -50px;
}
[class^='nav-icon'] {
    display: inline-block;
    width: 27px;
    height: 13px;
    background-image: url(~@/assets/img/nav-icon.png) ;
    background-size: 27px 26px;

}
.nav-icon-hot {
    background-position: 0px 13px;
}
.nav-icon-new{
    background-position: 0px 0px;
}
